.dotDot {
    background-color: #a1a1a8;
    display: inline-block;
    height: 4px;
    margin: 2px;
    border-radius: 50%;
    width: 4px;
}

.dotsdots {
    align-items: center;
    display: flex;
    justify-content: center;
}

.comment-wrap .comment-item-nested {
    padding-left: 2.80rem;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.card-title {
    color: black;
}
