//Colors
$white:    #fff ;
$gray-100: #bebcbc ;
$gray-200: #e9ecef ;
$gray-300: #dee2e6 ;
$gray-400: #ced4da ;
$gray-500: #adb5bd ;
$gray-600: #6c757d ;
$gray-700: #495057 ;
$gray-800: #343a40 ;
$gray-900: #f9fcff9d ;
$black:    #000 ;

$blue:    #2462c0 ;
$indigo:  #6610f2 ;
$purple:  #6f42c1 ;
$pink:    #d63384 ;
$red:     #dc3545 ;
$orange:  #fd7e14 ;
$yellow:  #ffc107 ;
$green:   #198754 ;
$teal:    #20c997 ;
$cyan:    #0dcaf0 ;


$primary:       $blue ;
$secondary:     $gray-600 ;
$success:       $green ;
$info:          $cyan ;
$warning:       $yellow ;
$danger:        $red ;
$light:         $gray-100 ;
$dim:           $gray-500;
$dark:          $gray-900 ;

//break points
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) ;

//border radius
$border-radius:               .375rem ;
$border-radius-sm:            .25rem ;
$border-radius-lg:            .5rem ;
$border-radius-xl:            1rem ;
$border-radius-2xl:           2rem ;
$border-radius-pill:          50rem ;

// nav styles
