// Prefix for :root CSS variables

$variable-prefix:             bs- ; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix:                      $variable-prefix ;
//Colors
$white:    #fff ;
$gray-100: #bebcbc ;
$gray-200: #e9ecef ;
$gray-300: #dee2e6 ;
$gray-400: #ced4da ;
$gray-500: #aeb2b6 ;
$gray-600: #000000 ;
$gray-700: #495057 ;
$gray-800: #343a40 ;
$gray-900: #c4c4c49d ;
$black:    #000 ;

$blue:    #2462c0 ;
$indigo:  #6610f2 ;
$purple:  #6f42c1 ;
$pink:    #d63384 ;
$red:     #dc3545 ;
$orange:  #fd7e14 ;
$yellow:  #ffc107 ;
$green:   #198754 ;
$teal:    #20c997 ;
$cyan:    #0dcaf0 ;


$primary:       $blue ;
$secondary:     $gray-600 ;
$success:       $green ;
$info:          $cyan ;
$warning:       $yellow ;
$danger:        $red ;
$light:         $gray-100 ;
$dim:           $gray-500 ;
$dark:          $gray-900 ;
$dtext:         $black ;
// scss-docs-start theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "dim":        $dim,
  "dtext":      $dtext
) !default;
// scss-docs-end theme-colors-map

//break points
// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;
// scss-docs-end grid-breakpoints

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) ;

// scss-docs-start box-shadow-variables
$box-shadow:                  0 .5rem 1rem rgba($black, .15) ;
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) ;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) ;
$box-shadow-inset:            inset 0 1px 2px rgba($black, .075) ;
// scss-docs-end box-shadow-variables
// scss-docs-start border-variables
$border-width:                1px ;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
) ;

$border-style:                solid ;
$border-color:                $gray-300 ;
$border-color-translucent:    rgba($black, .175) ;
// scss-docs-end border-variables
//border radius
$border-radius:               .375rem ;
$border-radius-sm:            .25rem ;
$border-radius-lg:            .5rem ;
$border-radius-xl:            1rem ;
$border-radius-2xl:           2rem ;
$border-radius-pill:          50rem ;


// scss-docs-start spacer-variables-maps
$spacer: 1rem ;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) ;
// scss-docs-end spacer-variables-maps
$line-height-base:            1.5 ;
$line-height-sm:              1.25 ;
$line-height-lg:              2 ;
// scss-docs-start modal-variables
$modal-inner-padding:               $spacer ;

$modal-footer-margin-between:       .5rem ;

$modal-dialog-margin:               .5rem ;
$modal-dialog-margin-y-sm-up:       1.75rem ;

$modal-title-line-height:           $line-height-base ;

$modal-content-color:               null ;
$modal-content-bg:                  $white ;
$modal-content-border-color:        var(--#{$prefix}border-color-translucent) ;
$modal-content-border-width:        $border-width ;
$modal-content-border-radius:       $border-radius-lg ;
$modal-content-inner-border-radius: subtract($modal-content-border-radius, $modal-content-border-width) ;
$modal-content-box-shadow-xs:       $box-shadow-sm ;
$modal-content-box-shadow-sm-up:    $box-shadow ;

$modal-backdrop-bg:                 $black ;
$modal-backdrop-opacity:            .5 ;

$modal-header-border-color:         var(--#{$prefix}border-color) ;
$modal-header-border-width:         $modal-content-border-width ;
$modal-header-padding-y:            $modal-inner-padding ;
$modal-header-padding-x:            $modal-inner-padding ;
$modal-header-padding:              $modal-header-padding-y $modal-header-padding-x ; // Keep this for backwards compatibility

$modal-footer-bg:                   null ;
$modal-footer-border-color:         $modal-header-border-color ;
$modal-footer-border-width:         $modal-header-border-width ;

$modal-sm:                          300px ;
$modal-md:                          500px ;
$modal-lg:                          800px ;
$modal-xl:                          1140px ;

$modal-fade-transform:              translate(0, -50px) ;
$modal-show-transform:              none ;
$modal-transition:                  transform .3s ease-out ;
$modal-scale-transform:             scale(1.02) ;
// scss-docs-end modal-variables

// scss-docs-start offcanvas-variables
$offcanvas-padding-y:               $modal-inner-padding ;
$offcanvas-padding-x:               $modal-inner-padding ;
$offcanvas-horizontal-width:        300px ;
$offcanvas-vertical-height:         10vh ;
$offcanvas-transition-duration:     .3s ;
$offcanvas-border-color:            $modal-content-border-color ;
$offcanvas-border-width:            $modal-content-border-width ;
$offcanvas-title-line-height:       $modal-title-line-height ;
$offcanvas-bg-color:                $modal-content-bg ;
$offcanvas-color:                   $modal-content-color ;
$offcanvas-box-shadow:              $modal-content-box-shadow-xs ;
$offcanvas-backdrop-bg:             $modal-backdrop-bg ;
$offcanvas-backdrop-opacity:        $modal-backdrop-opacity ;
// scss-docs-end offcanvas-variables


